.heading{
    color: rgb(171, 80, 80);
    font-size: 1.8rem;
    font-weight: 700;
    background: transparent;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    padding: 0 20px;
}

@media (max-width:500px){
    .heading{
        font-size: 1.4rem;
        font-weight: 500;
    }
}
@media (max-width:750px){
    .heading{
        font-size: 1.6rem;
        font-weight: 500;
    }
}